CMakeFiles/
*.o
*.P
*.s
CMakeCache.txt
.qmake.stash

parallelcoind
parallelcoin-qt
qrc_bitcoin.cpp
src/.flatpak-builder
src/build-dir
src/parallelcoind
src/openssl-1.0.1u/**
pod
test**
vendor/**
node_modules/**

deploy/*
.DS_Store
node_modules
/dist
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

rcc.cpp
*_vfsdata**

pod

dist/
node_modules/
.cache/
yarn.lock
npm.lock

pod_mon*
go_build*
pod.exe

pkg/comm/transport/cmd/example/example.exe

app/launcher/launcher.exe

pod.exe~
*.trace

\[pod -D test0 --rpclisten 127.0.0.1

pkg/util/logi/pipe/pipe
